
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.card {
	&:hover {
		cursor: pointer;
	}
}

input[type="radio"] {
	position: absolute;
	left: 0;
	top: 0;
	visibility: hidden;
}

.card-header {
	color: $white;
}

input[type="radio"]:checked + .card-header {
	label & {
		background-color: $info !important;
	}
}


label {
	margin-bottom: 0;
}

.fa-angle-left {
	cursor: pointer;
}